# Set the verbosity level of the messages in the log file

log_level 10

# Add a few chains to the population. It need not be a homogeneous system.
add_chain 5 <ACE * KLVFFAE * NH2>
add_chain 5 <ACE * KLVFFAG * NH2>

# Number of temperatures. Used by simulated tempering, simulated annealing
# and parallel tempering. Parallel tempering and simulated annealing can
# use schema files to infer details about temperatures used. If such a file
# is in use, ntmp value would be ignored. 

ntmp 8

# Maximum and minimum temperatures. Again, parallal tempering and simulated
# annealing might ignore them, if a schema file is in use. 

tmin 274 Kelvin
tmax 374 Kelvin

# Create an RMSD observable quantity. Look in the PROFASI tutorials for 
# what observables you can create and how. Here we create a backbone+Cbeta
# RMSD measurement over all residues of 1RIJ...

new_obs ProteinRMSD bbcb using +BB+CB; struc1 1RIJ.pdb:1:A ; struc2 $::A

# Specify the length of a Monte Carlo cycle. The value -1 is interpreted
# as an instruction to use the number of degrees of freedom as the 
# cycle length. 

steps_per_cycle -1

# Total number of Monte Carlo cycles to perform

mccyc 10000

# Number of thermalization cycles, which are ignored for histograms. 

ntherm 3000

# Frequency of estimation and writing of averages.

iavg 1000

# Frequency of writing into the runtime-history file "rt"

nrt 1000

# Frequency of writing program configuration to disk

iconf 1000

# Instruction to redirect standard output and standard error to
# files "stdout" and "stderr" in the output directory. Useful
# if you have a run on 500 processors. This demangles the output
# cleanly.

stdout_redirect on
stderr_redirect on

